@font-face {
    font-family: karma;
    src: url(../fonts/Karma/Karma-Regular.ttf);
}
@font-face {
    font-family: plexmono;
    src: url(../fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
}
@font-face {
    font-family: neue;
    src: url(../fonts/neue/HelveticaNeueMedium.otf);
}

body {
    background-color: white; /*#ecd4ac*/
    margin: 0;
    font-family: neue, sans-serif;
}

.page-title {
    font-size: 28px;
}

header {
    background-color: #106e12;
    color: #2E352D;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}

.navbar-default {
    background-color: #2E352D;
    border-color: #2E352D;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #ecd4ac;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #dcc59f;
}

.navbar-default .navbar-nav > li > a.order-button {
    background-color: #116013;
    color: #486e10; /* Changed text color to red */
    height: 30px;
    width: 125px;
    padding-top: 7px;
    padding-left: 15px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 360px;
    border: 3px solid #e0974e;
}
.order-button {
    margin-top: 6px;
}

.navbar-default .navbar-nav > li > a.order-button:hover {
    text-decoration: none;
    background-color: #e0974e;
    border: 3px solid #c04b2d;
    color: #edae7c; /* Changed text color to red */
}

.pattern {
    margin-top: 0px;
    background: url('../img/p.png') no-repeat center;
    background-size: cover;
    height: 300px; /* Adjust height as needed */
    width: 100%;
    display: flex;
}

#offer {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: #a8442c;
}

#announce-cont {
    height: 260px;
    width: 50%; /* Adjust width for better responsiveness */
    margin: auto;
    background-color: #fedd65f0;
    align-items: center;
    display: flex;
    position: relative;
    border: 5px solid #fedd65f0; /* Add this line to bring back the yellow border */
}

.announce {
    height: 245px;
    width: 100%; /* Adjust width for better responsiveness */
    margin: auto;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    overflow: hidden; /* Ensure overflow is hidden */
}

.megaphone {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 150px; /* Adjust width as needed */
    height: 150px; /* Adjust height as needed */
    transform: rotate(-30deg);
}

#x-but { 
    position: absolute;
    top: 0px;
    right: 5px;
    width: 15px; /* Adjust width as needed */
    height: 15px; /* Adjust height as needed */
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

#desc {
    text-align: center;
}

.desc-title {
    text-align: center;
}

.desc,
.desc1,
.desc2,
.desc3 {
    text-align: center;
    margin-bottom: 20px;
}

/* New CSS for prices */
.price {
    padding: 4px 4px; /* Adds padding for better appearance */
    display: inline-block;
    color: #000; /* Text color */
    font-size: 18px;
}

.add-to-cart {
    height: 40px;
    width: 120px;
    float: right;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #a8442c;
    border-color: #a8442c;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 14px;
}

.add-to-cart:hover {
    background-color: #973d27;
    border-color: #973d27;
}

.p-item-desc {
    margin-top: 29px;
    float: left;
    margin-left: 15px;
    width: 23.5%;
    background-color: #f3f4ea;
    border-radius: 10px;
    height: 335px;
}

.pimg {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

.p-title {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bolder;
}

.container {
    padding-left: 15px; /* Adjust the left padding of the container */
    padding-right: 15px; /* Adjust the right padding of the container */
    width: 100%; /* Ensure the container takes the full width */
}

ul.list-unstyled {
    padding-left: 0; /* Remove any default padding from the ul */
    margin-left: -14px; /* Adjust the left margin of the ul */
}

@media (max-width: 767px) {
    .p-item-desc {
        width: 45%;
        height: 290px;
    }

    .pimg {
        width: 100%;
    }
    .add-to-cart {
        margin-top: 15px;
    }

}
